<div class="contenedor">
  <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Samus Zero</h5>
        <img class="card-img-top" src="../../../assets/Samus_Zero_SSB4_HD.png" alt="Card image cap">
        <button type="button" class="btn btn-outline-light">Dark</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Link</h5>
        <img class="card-img-top" src="../../../assets/Link.png" alt="Card image cap">
        <button type="button" class="btn btn-outline-light">Dark</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Palutena </h5>
        <img class="card-img-top" src="../../../assets/Palutena.png" alt="Card image cap">
        <button type="button" class="btn btn-outline-light">Dark</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Lucina </h5>
          <img class="card-img-top" src="../../../assets/Lucina_Fire_Emblem_Heroes.png" alt="Card image cap">
        <button type="button" class="btn btn-outline-light">Dark</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Kirby </h5>
        <img class="card-img-top" src="../../../assets/Kirby_PJ.png" alt="Card image cap">
        <button type="button" class="btn btn-outline-light">Dark</button>
      </div>
    </div>
  </div>
</div>
</div>