<nav class="navbar navbar-expand-lg navbar-dark bg-dark barra" *ngIf="menuAbierto">
  
  <a class="navbar-brand" routerLink="/user" *ngIf="logged" >Smash Bros Character Creator</a>
  <a class="navbar-brand" routerLink="/user" *ngIf="!logged" > No tienes permitido acceder a esta pagina</a>

  <div  class="crearPersonaje"> 
  <button type="button" class="btn btn-primary" (click)="openModalWithComponent()" *ngIf="logged" [disabled]="editando">Crear un personaje</button>
  </div>

  
  <div>
    <a class="btn btn-primary cerrarSesion" (click)="logout()" *ngIf="logged" routerLink="/login"> Cerrar Sesion </a>
    <a class="btn btn-primary cerrarSesion" *ngIf="!logged" routerLink="/login"> Iniciar sesion</a>
  </div>

</nav>
